name: CI

on: [push, pull_request]

jobs:

  code-quality-flake8:

    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest

    name: Flake8

    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: flake8 Lint
        uses: py-actions/flake8@v2

  code-quality-black-fmt:
    runs-on: ubuntu-latest
    name: Black Formatting Check
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: black formatting check
        uses: psf/black@stable
        with:
          options: --check .

  code-quality-pylint:
    runs-on: ubuntu-latest
    name: Pylint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install pyproject.toml dependencies
        run: |
          if [ -f "pyproject.toml" ]; then pip install poetry && poetry install; fi
      - name: Analysing the code with pylint
        run: |
          poetry run pylint $(git ls-files '*.py')

  file-security-scan:
    runs-on: ubuntu-latest
    name: Trivy Filesystem Scan
    needs: [code-quality-flake8, code-quality-black-fmt, code-quality-pylint]
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          format: table
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

  image-build-and-scan:
    defaults:
      run:
        shell: bash

    if: ${{ always() }}
    needs: [code-quality-flake8, code-quality-black-fmt, code-quality-pylint, file-security-scan]

    runs-on: ubuntu-latest

    steps:
    - name: Chekout the Repo
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      uses: docker/login-action@v3.7.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker Build - Flask-Chat
      id: build-image
      run: |
        docker build -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/flask-chat:latest .

    - name: Run Trivy - Flask-Chat
      uses: aquasecurity/trivy-action@0.34.1
      with:
        image-ref: 'docker.io/${{ secrets.DOCKERHUB_USERNAME }}/flask-chat:latest'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Docker Push - Flask-Chat
      id: push-flask-chat
      run: |
        docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/flask-chat:latest
